.container {
  width: 100vw;
  height:90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  
}


.logo {
  width: 17vw;
  margin-bottom: 1vw;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo_text {
  font-size: 4vw;
  /* font-family: "Rampart One", serif; */
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  color: #FDB515;
  padding-left:1vw;
  margin:0;
  text-shadow: 1px 1px px rgba(0, 0, 0, 0.3);

  
}

.body {
  display: flex;
  flex-direction: column;
}

footer {
  font-size: 0.9vw;
  text-align: center;
  font-family: monospace; 
  color: rgba(0,0,0,0.7);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo {
    width: 75vw;
  }

  .logo_text {
    font-size: 13vw;
  }

  footer {
    font-size: 2.5vw;
  }
}