.container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 28vw;
    /* background-color: rgb(245, 245, 245); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.325);
    border-radius: 10px;
    margin: 1vw;
    align-items: center;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.head  p {
    font-size: 1.5vw;
}

.container > button {
    color: white;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.325);
    margin: 0;

    transition: box-shadow 0.3s ease-in-out;
}

.container > button:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.608);
}

.joined {
    background-color: rgb(19, 18, 18);
}

.joined:hover {
    cursor:default;
}

.notJoined {
    background-color:#3b82f6;
}

p {
    font-size: 1.1vw;
    font-weight: 400;
}

.pfp {
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5vw;
}

.clock {
    width: 1.3vw;
    height: 1.3vw;
    padding-right: 0.6vw;
    vertical-align: middle;
}

.cap {
    width: 1.5vw;
    height: 1.5vw;
    padding-right: 0.6vw;
    vertical-align: middle;
}

.details {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 1.5vw;
}