.pfp {
    width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: scale-down;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.name {
  font-size: 2.5vw;
  font-weight: bolder;
}

dialog {
  border: none !important;
  border-radius: 1vw;
  outline: none !important;
}

dialog:focus {
  border: none !important;
}