.pfp {
    width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

p {
  margin: 0.5vw;
  padding: 0;
}

.name {
  font-size: 2.5vw;
  font-weight: bolder;
  margin-top:2vw;
  padding:0;
}

dialog {
  border: none !important;
  border-radius: 1vw;
  outline: none !important;
}

dialog:focus {
  border: none !important;
}

.container > button {
  width: 9vw;
  /* background-color: #e2e2e2; */
  padding: 0;
  margin: 0;
  margin-top: 1vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.325);
  transition: box-shadow 0.3s ease-in-out;
}

.container > button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.514);
}

.instagram {
  display: inline-block;
  color: #e1306c;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: #fdf2f8;
  border-radius: 20px;
  transition: background-color 0.2s;
  margin-top: 1vw;
  margin-bottom: 3vw;
}

.instagram:hover {
  background-color: #fce7f3;
}

.email {
  font-weight: 300;
}