.container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.325);
    border-radius: 2vw;
    margin: 2vw;
    align-items: center;
}

.container > button {
    color: white;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.325);
    margin: 0;

    transition: box-shadow 0.3s ease-in-out;
}

.container > button:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.608);
}

.joined {
    background-color: rgb(19, 18, 18);
}

.joined:hover {
    cursor:default;
}

.notJoined {
    background-color:#004AAE;
}

.pfp {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}