.container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
  }

  .authButton {
    background: none !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    color: black;
    height: 3.5vw;
    font-size: 0.75vw !important;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.325);
    transition: box-shadow 0.3s ease-in-out !important;
  }

  .authButton:active, .authButton:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.547) !important;
  }
  
  .container > h1 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.8vw;
    color: rgba(0,0,0,0.8);
    width: 21vw;
    margin: 0;
  }

  .container > p {
    font-family: "Inter";
    font-weight: 300;
    font-size: 0.8vw;
    color: rgba(0,0,0,0.8);
    margin: 0;
    margin-top: 4vw;
  }


  @media (max-width: 768px) {
    .container {
      width: 75vw;
    }

    .authButton {
      height: 15vw !important;
      font-size: 4vw !important;
    }
  
    .container > h1 {
      font-size: 5.5vw;
      text-align: center;
    }
  
    .container > p {
      font-size: 3.3vw;
      padding-top: 10vw;
    }
  }