.container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  }

  .authButton {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    color: black;
    height: 3.5vw;
    font-size: 0.75vw !important;
    cursor: pointer;

  }
  
  .container > h1 {
    font-family: monospace;
    font-size: 1.5vw;
    margin: 0;
  }

  .container > p {
    font-family: monospace;
    font-size: 0.8vw;
    color: rgba(0,0,0,0.6);
    margin: 0;
    margin-top: 4vw;
  }


  @media (max-width: 768px) {
    .container {
      width: 75vw;
    }

    .authButton {
      height: 15vw !important;
      font-size: 4vw !important;
    }
  
    .container > h1 {
      font-size: 5.5vw;
      text-align: center;
    }
  
    .container > p {
      font-size: 3.3vw;
      padding-top: 10vw;
    }
  }